* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* system design */

:root {
  --dark-bg: #01070A;
  --dark-teal: #46656F;
  --light-teal: #8FABB7;
  --light-gray: #D8DFE5;
  --white: #FBFBFB;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--dark-bg);
  color: var(--white);
}

/* Button style */
button {
  background-color: var(--light-gray);
  color: var(--dark-bg);
  border: none;
  border-radius: .7rem;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--white);
}

footer {
  background-color: var(--dark-teal);
  padding: 10px;
  text-align: center;
  color: var(--white);
  position: relative;
  bottom: 0;
  width: 100%;
}

a {
  color: var(--light-gray);
  text-decoration: none;
}

a:hover {
  color: var(--white);
}



#movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
  gap: 20px; /* Space between cards */
  padding: 20px;
}

.movie-card {
  position: relative;
  overflow: hidden;
  border-radius: .7rem;
}

.movie-card img {
  width: 100%;
  border-radius: .7rem  .7rem 0 0; /* Round the top corners */
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.movie-card:hover .overlay {
  opacity: 1;
}