* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* system design */

/* Dosis */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* Dancing script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


:root {
  --dark-bg: #01070A;
  --dark-teal: #46656F;
  --light-teal: #8FABB7;
  --light-gray: #D8DFE5;
  --white: #FBFBFB;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../imgs/pexels-santiago-sauceda-gonzalez-3426899-15777224.jpg');
  background-size: cover;
  background-position: center;
  color: var(--dark-bg);
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 10%);
  z-index: 0;
}

h1,h2 {
  font-family: 'Dosis', sans-serif !important;
}

/* Button style */
button  {
  background-color: var(--light-gray);
  color: var(--dark-bg);
  border: none;
  border-radius: .7rem;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover{
  background-color: var(--white);
}
.button-details{
  border: none;
  border-radius: .7rem;
  padding: .5rem 1rem;
  cursor: pointer;
  background-color: var(--light-gray);
  color: var(--dark-teal);
}
footer {
  background-color:#191919;
  padding: 10px;
  text-align: center;
  color: var(--dark-teal);
  position: relative;
  bottom: 0;
  width: 100%;
}

a {
  color: var(--light-gray);
  text-decoration: none;
}

a:hover {
  color: var(--white);
}


/* Navigation */
.navbar {
  /* background-color: rgba(1, 7, 10, 0.8); */
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  position: absolute;
  width: 100%;
  z-index: 2;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}


.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 2rem;
  color: var(--light-teal);
}

.logo img {
  height: 50px;
  width: auto;
  margin-right: 1rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: var(--light-gray);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--light-teal);
}



/* bg section */
.hero {
  background-image: url('../imgs/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: var(--white);
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.search-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5rem;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-container h2 {
  font-family: "Dancing Script", cursive !important;
  font-weight: 400;
  font-size: 2.5rem;
}

.search-container button {
  width:fit-content ;
  margin: auto;
  font-size: 1rem;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 100%;
}

#top-rated {
  width: 90%;
  margin: auto;
}


.movie-section {
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.movie-section span {
  font-weight: bold;
  color: #b1abab;
  position: relative;
  border-bottom: 1px solid var(--dark-teal);
  padding-top: 1rem;
}

.movie-section h2 {
  color: #b1abab;
  font-size: 1.75rem;
  margin-top: .5rem;
  margin-left: 1.5rem;
}

#movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
  gap: 20px;
  padding: 20px;
}

.movie-card {
  position: relative;
  overflow: hidden;
  border-radius: .7rem;
  width: 100%;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .7rem;
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  transition: opacity 0.3s;
}

.movie-card:hover .overlay {
  opacity: 1;
}


.fav {
  font-size: 1.5rem;
  cursor: pointer;
}



@media (min-width:390px) and (max-width:450px){
  .navbar-container {
    flex-direction: column;
    gap: 1rem;
  }
}


.scroll-to-top {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  background-color: var(--dark-bg);
  color: white;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.scroll-to-top:hover {
  background-color: rgb(8, 8, 8);
}

.scroll-to-top svg {
  width: 30px;
  height: 30px;
  fill: none;
  stroke: white;
}


#popular{
  width: 90%;
  margin: auto;
}
#popular-movies-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

#movie-section{
  padding: 5rem;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

